<section>
  <div class="institute-list-Main-Div">
    <!-- add Institute Div   start Here   ------------------------------------------------------------>

    <div class="add-Institute-Div">
      <a class="addInstituteLink" href="">Add Your Institute</a>
      <a class="addInstituteLink" href="">Settings</a>
      <a class="addInstituteLink" href="">Privacy & Policy</a>

      <div class="advertigeDiv">
       
        <img  class="advertigeTag" src="../../../assets/images/chart/book1.png" alt="">
     
      </div>

      <div class="advertigeDiv">
        <img  class="advertigeTag" src="../../../assets/images/chart/book2.png" alt="">
      </div>
      <div class="advertigeDiv">
        <img  class="advertigeTag" src="../../../assets/images/chart/book3.png" alt="">
      </div>
      <div class="advertigeDiv">
        <img  class="advertigeTag" src="../../../assets/images/chart/book4.png" alt="">
      </div>
    </div>

    <!-- Listed Institute Div start Here -*------------------------------------------------------ -->

    <div class="listed-Institute-Main-Div">
      <h1 class="listed-Header">Listed Institute</h1>

      <!-- search institute section  -->

      <div class="search-Field-Div">
        <input #seachValue class="search-Field" type="" name="" id="" placeholder="Search Institutes" />
        <button type="submit" class="matIcon" (click)="search(seachValue.value)">
          <mat-icon class="matIcon1">search</mat-icon>
        </button>
      </div>

      <!-- institute details card section  -->

      <div *ngFor="let item of responceData?.institutes?.data" class="institute-details-card-Div" >
        <div class="institute-details-div">
          <a [routerLink]="['/institute-chart', item.slug]" class="institute-name">{{item.institute_name}}</a>
          <p class="institute-address">{{item.union}}</p>
        </div>

        <div class="institute-details-Btn-div">
          <a  class="institute-details-Btn" [routerLink]="['/details-institute', item.slug]">Details</a>
          <a  class="institute-details-Btn" routerLink="/admission-form">Online Application</a>
        </div>
      </div>

      <!-- static design  -->
      <!-- <div  class="institute-details-card-Div" >
        <div class="institute-details-div">
          <a routerLink="/institute-chart" class="institute-name">BUBT </a>
          <p class="institute-address">Mirpur</p>
        </div>

        <div class="institute-details-Btn-div">
          <a  class="institute-details-Btn" routerLink="/details-institute">Details</a>
          <a  class="institute-details-Btn" routerLink="/admission-form">Online Application</a>
        </div>
      </div> -->

    
     
    </div>
  </div>
</section>
