<section>
  <div class="pSuccesfull-main-div">
    <div class="pSuccesfull-sub-div">
      <img
        class="imagee1"
        src="../../../assets/images/static/Ellipse 89.png"
        alt=""
      />
      <img
        class="imagee2"
        src="../../../assets/images/static/Ellipse 855.png"
        alt=""
      />
      <img
        class="imagee3"
        src="../../../assets/images/static/undraw_Download_re_li50-removebg-preview 1.png"
        alt=""
      />

      <div class="text-div">
        <label for="">Your Admission Form </label>
        <label for="">Payment Succesfully Done</label>
      </div>
      <div class="buttn-div">
        <button>Download <br> Form</button>
        <button>Download 
            Admit Card</button>
        <button> Download 
            Money Receit</button>
        
      </div>
    </div>
  </div>
</section>
