
<div class="mainNav">

  <div class="container">
    <div class="navMainDiv">
      <div class="logo">
        <img class="logoImg" src="../../../assets/images/logo/logo-brand.02a95423.svg" alt="">
      </div>
      <div class="menuSection">
       <div class="menuDiv">
        <div class="subMenu">
          <img class="menuImg" src="../../../assets/images/menu/icon-Flight.bc448c56.svg" alt="">

          <a class="menuATAg" href="">Flight</a>
        </div>

       </div>

       <div class="menuDiv">
        <div class="subMenu">
          <img class="menuImg" src="../../../assets/images/menu/icon-Hotel.5d80c2e2.svg" alt="">

          <a class="menuATAg" href="">Hotel</a>
        </div>

       </div>

       <div class="menuDiv">
        <div class="subMenu">
          <img class="menuImg" src="../../../assets/images/menu/icon-Tour.ca16ca10.svg" alt="">

          <a class="menuATAg" href="">Tour</a>
        </div>

       </div>

       <div class="menuDiv">
        <div class="subMenu">
          <img class="menuImg" src="../../../assets/images/menu/loan.f08f5f81.svg" alt="">

          <a class="menuATAg" href="">Travel Loan</a>
        </div>

       </div>
      </div>
      <div class="signInSection">
       <div class="signDiv">
        <button class="BDTBtn" mat-button [matMenuTriggerFor]="menu"><img style="width: 27px;" src="../../../assets/images/menu/Screenshot_1.png" alt=""> BDT <span><img style="width: 12px;" src="../../../assets/images/menu/icon-arrow-down.7e4013f7.svg" alt=""></span></button>
          <mat-menu class="matMenu" #menu="matMenu">
            <button mat-menu-item>Item</button>
            <button mat-menu-item>Item</button>
            <button mat-menu-item>Item</button>
            <button mat-menu-item>Item</button>
            <button mat-menu-item>Item12322</button>
          </mat-menu>
       </div>

       <div class="signBtn">
        <a href="">Sign In</a>
       </div>
      </div>
    </div>
  </div>

</div>




