<div class="mainNav">
  <div class="container">
    <div class="navMainDiv">
      <!-- logo section  -->

      <div class="logo">
        <div> 
          <a href=""><img class="logoImg" src="../../../assets/images/logo/logo.png" alt="" /></a>
        </div>

        <div class="searchFieldDiv">
          <input class="searchField" type="" name="" id="" />
          <span class="matIcon">
            <mat-icon class="matIcon1">search</mat-icon>
          </span>
        </div>

        <div class="QRCode">
          <input class="searchField1" type="search" name="" id="" />
          <a class="QRText" href="">QR Scanner</a>
        </div>
      </div>

      <!-- menu Section -->

      <div class="menuSection">
        <div class="menuDiv">
          <div class="subMenu homeIcon">
            <a class="menuATAg" href=""><img src="../../../assets/images/header/icon _home_.png" alt=""></a>
          </div>
        </div>

        <div class="menuDiv">
          <div class="subMenu">
            <a class="menuATAg" href=""
              ><img src="../../../assets/images/header/educational-institute.png" alt=""></a>
          </div>
        </div>

        <div class="menuDiv">
          <div class="subMenu">
            <a class="menuATAg" href=""><img src="../../../assets/images/header/icon _notification_.png" alt=""></a>
          </div>
        </div>
      </div>

      <!-- Grid menu section  -->

      <div class="GridmenuDiv">
        <a href="" class="menuATAg"
          ><img src="../../../assets/images/header/icon _app menu_.png" alt=""></a
        >
      </div>
    </div>
  </div>
</div>
