<div class="mainNav" *ngIf="headerHide">
  <div class="container">
    <div class="navMainDiv">
      <!-- logo section  -->

      <div class="logo">
        <div>
          <a href="" routerLink="/home"><img class="logoImg" src="../../../assets/images/logo/logo.png" alt="" /></a>
        </div>

        <div class="searchFieldDiv">
          <input class="searchField" type="" name="" id="" />
          <span class="matIcon">
            <mat-icon class="matIcon1">search</mat-icon>
          </span>
        </div>

        <div class="QRCode">
          <input class="searchField1" type="search" name="" id="" />
          <a class="QRText" href="">QR Scanner</a>
        </div>
      </div>

      <!-- menu Section -->

      <div class="menuSection">
        <div class="menuDiv">
          <div class="subMenu homeIcon">
            <a class="menuATAg" href="" routerLink="/home"><img src="../../../assets/images/header/icon _home_.png" alt="" /></a>
          </div>
        </div>

        <div class="menuDiv">
          <div class="subMenu">
            <a class="menuATAg" href=""><img src="../../../assets/images/header/educational-institute.png" alt="" /></a>
          </div>
        </div>

        <div class="menuDiv">
          <div class="subMenu">
            <a class="menuATAg" (click)="notiownSlider()"><img
                src="../../../assets/images/header/icon _notification_.png" alt="" /></a>
          </div>
        </div>
      </div>

      <!-- Grid menu section  -->

      <div class="GridmenuDiv">
        <a  class="menuATAg" (click)="ownUserProfile()"><img src="../../../assets/images/header/icon _app menu_.png" alt="" /></a>
      </div>
    </div>
  </div>
</div>

<!-- notification button -->

<div class="noti-Slider notiMaunDiv" [class]="notiSlider == true ? 'noti-Slider-active' : 'noti-Slider-inactive'">
  <div class="notifyDiv">
    <h1 class="notiHeader">Notification</h1>
    <div class="allUnreadDiv">
      <button class="AllNotiBtn">All</button>
      <button class="UnreadBtn">Unread</button>
    </div>

    <div class="newSeeAllDiv">
      <h1 class="newHeader">New</h1>
      <a class="SeeAllBtn" routerLink="/notification">See All</a>
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Rlike.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Runlike.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Rheart.png" alt="" />
    </div>

    <!-- l --------------------------------------------------------------------------- -->

    <h1 class="newHeader">Earlier</h1>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Rlike.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Runlike.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Rheart.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Rlike.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Runlike.png" alt="" />
    </div>

    <div class="notifyprofileDiv">
      <img class="notifyprofileImg" src="../../../assets/images/postProfile/Ellipse 19.png" alt="" />
      <div class="notifyprofileInfo">
        <h1 class="notifyprofileName">Fazlul Hauque React on your post</h1>
        <p class="notifyReactionTime">About 1 hour ago</p>
      </div>
      <img class="reactionImg" src="../../../assets/images/reaction/Rheart.png" alt="" />
    </div>
  </div>
</div>




<!----------------------------------------------- user profile section ------------------------------------------------------------------ -->

<div class="user-Profile" [class]="userProfile == true ? 'userProfile-active':'userProfile-inactive'">
  <button class="closeBtn" (click)="ownCloseBtn()">close</button>
</div>





<!-- <div class="noti-Slider" [class]="notiSlider==true?'noti-Slider-active':'noti-Slider-inactive'">

</div> -->
