<!-- <div class="header-area">
  <app-header></app-header>
</div> -->

<!-- home page  -->

<section>
  <div class="homeMainDiv">
    <!-- left side nav section  -->
    <div class="leftSideNav">
      <div class="leftmainDiv">
        <div class="videoDiv">
          <img class="videoDivImg" src="../../../assets/images/footerIcon/icon _folder videos_.png" alt="" />
          <a href="">Videos</a>
        </div>

        <div class="">
          <div class="videoDiv">
            <img class="PageDivImg" src="../../../assets/images/footerIcon/illustration _Facebook Ad_.png" alt="" />
            <a href="">Pages</a>
          </div>
          <div class="SubPageDiv">
            <a class="submenus">ডিজাইন ক্লাব</a>
            <a class="submenus">Robotics Club</a>
            <a class="submenus">Math Club</a>
          </div>
        </div>

        <div class="videoDiv">
          <img class="videoDivImg" src="../../../assets/images/footerIcon/illustration _User Group_.png" alt="" />
          <a href="">Clubs</a>
        </div>

        <div class="SeeAll">
          <a href="">See All</a>
        </div>

        <div class="">
          <div class="videoDiv">
            <img class="educational" src="../../../assets/images/header/educational-institute.png" alt="" />
            <a href="">Institutes</a>
          </div>
          <div class="SubPageDiv">
            <a class="submenus">Rajuk Uttara Mode College</a>
            <a class="submenus">Uttara High School </a>
            <a class="submenus">Milestone School</a>
          </div>
        </div>

        <div class="SeeAll">
          <a href="">See All</a>
        </div>

        <div>
          <h1 class="advertise">Advertise</h1>
          <img class="advertiseImg" src="../../../assets/images/home/Rectangle 99.png" alt="" />
          <img class="advertiseImg" src="../../../assets/images/home/Rectangle 100.png" alt="" />
        </div>
      </div>
    </div>

    <!-- middle section  -->
    <div class="middlemenuMainDiv">
      <div class="middlesectionDiv">
        <!-- post section  -->
        <div class="postsection">
          <div class="PostInputFiledDiv">
            <input class="PostInputFiled" type="text" name="" id=""
              placeholder="Write your post or activites here..." />
          </div>
          <div class="postItemDiv">
            <div class="AllPostDiv">
              <button class="AllPostBtn"><img class="VideoClipImg" src="../../../assets/images/post/icon _Video Clip_.png" alt=""> Videos</button>
            </div>
            <div class="AllPostDiv">
              <button class="AllPostBtn"><img class="VideoClipImg photoImg" src="../../../assets/images/post/icon _photo size select actual_.png" alt=""> Photos</button>
            </div>
            <div class="AllPostDiv">
              <button class="AllPostBtn"><img class="VideoClipImg" src="../../../assets/images/post/icon _emoji smile_.png" alt=""> Activities</button>
            </div>
            <div class="AllPostDiv">
              <button class="AllPostBtn">Looking for<img class="LookingImg" src="../../../assets/images/post/icon _keyboard arrow down icon_.png" alt=""> </button>
            </div>
          </div>
        </div>

        <!-- text post Section  -->
        <div class="textPostMainDiv">
          <div class="f">kk</div>
          <div class="f">k</div>
          <div class="f">ui</div>
         
        </div>
      </div>
    </div>

    <div class="3">33333</div>
  </div>
</section>

<!-- <div class="footer-area">
  <!-- <app-footer></app-footer> -->
<!-- </div> -->
