<!-- <div class="header-area">
  <app-header></app-header>
</div> -->

<!-- home page  -->

<section>
  <div class="homeMainDiv">
    <div class="leftSideNav">
      <div class="leftmainDiv">
        <div class="videoDiv">
          <img class="videoDivImg" src="../../../assets/images/footerIcon/icon _folder videos_.png" alt="" />
          <a href="">Videos</a>
        </div>

        <div class="">
          <div class="videoDiv">
            <img class="PageDivImg" src="../../../assets/images/footerIcon/illustration _Facebook Ad_.png" alt="" />
            <a href="">Pages</a>
          </div>
          <div class="SubPageDiv">
            <a class="submenus">ডিজাইন ক্লাব</a>
            <a class="submenus">Robotics Club</a>
            <a class="submenus">Math Club</a>
          </div>
        </div>

        <div class="videoDiv">
          <img class="videoDivImg" src="../../../assets/images/footerIcon/illustration _User Group_.png" alt="" />
          <a href="">Clubs</a>
        </div>

        <div class="SeeAll">
          
          <a href="">See All</a>
        </div>


        <div class="videoDiv">
          <img class="educational" src="../../../assets/images/header/educational-institute.png" alt="" />
          <a href="">Institutes</a>
        </div>


      </div>
    </div>

    <div class="2">sdfsd</div>

    <div class="3">33333</div>
  </div>
</section>

<!-- <div class="footer-area">
  <!-- <app-footer></app-footer> -->
</div> -->
