<section>
  <div class="st-admission-main-div">
    <h1 class="st-admission-header">Institute Admisson Form</h1>
    <!-- Institute Admisson Form start ------------------------------------------------------ -->
    <div class="institute-admission-div">
      <div class="institute-admission-form-div">
        <div class="form">
          <div class="input-filed-div">
            <h1>Roll No:</h1>

            <input type="text" name="" id="" />
          </div>

          <div class="input-filed-div">
            <h1>Date:</h1>

            <input type="text" name="" id="" />
          </div>

          <div class="input-filed-div">
            <h1>Class:</h1>

            <input type="text" name="" id="" />
          </div>

          <div class="input-filed-div">
            <h1>Version:</h1>
            <input type="text" name="" id="" />
          </div>
        </div>
      </div>
      <div class="institute-admission-form-img-div">
        <img src="../../../assets/images/banner/undraw_Reminder_522k 1.png" alt="" />
      </div>
    </div>

    <!-- Student Full Information similar their certificate  start -------------------------------------- -->

    <div class="student-Name-main-Div">
      <h1>Student Full Information similar their certificate</h1>

      <div class="name-Div">
        <div class="input-filed-div">
          <h1>Name(Bangali): </h1>

          <input type="text" name="" id="" />
        </div>
        <div class="input-filed-div">
          <h1>Name(English by Capotal Latter):  </h1>

          <input type="text" name="" id="" />
        </div>
      </div>
    </div>
  </div>
</section>
