<section>
  <div class="institute-Chart-main-div">
    <!-- left div section start  --------------------------->

    <div class="left-main-Div">
      <a>Details of the institute</a>
      <a>Admission Form</a>
      <a>Sudents Details</a>
      <a>SMS System</a>
      <a>Curriculam</a>
      <a>Routine</a>
      <a>Attendence</a>
      <a>Online Class</a>
      <a>Online Exam</a>
      <a>Result Card</a>
      <a>Card Section</a>

      <button class="delete-Btn">Delete Your Institute</button>
      <button>Edit Your Institute</button>
    </div>

    <!-- Middle div section start  --------------------------->
    <div class="middle-main-Div">

      
    </div>

    <!-- right div section start  --------------------------->
    <div class="right-main-Div">r</div>
  </div>
</section>
