
<div class="footer-container-main">
  <div class="footer-container1">

      <div class="footer-title">
          <h1>BE THE FIRST</h1>
          <p>New arrivals. Exclusive previews. First access to <br>
               sales. Sign up to stay in the know.</p>
      </div>

      <div class="footer-input">
      <input type="text" placeholder="Enter Your Email Address">
      <button>Sign Up</button>
  </div>

  </div>

  <div class="footer-container2">

      <div class="footer-column1">
          <h4>NEED HELP?</h4>
          <p>+92 21 111 112 111 (9am - 10pm , Mon - Sat)</p>
          <h6>eshop@junaidjamshed.com</h6>
      </div>

      <div class="footer-column2">
          <h4>CUSTOMER SERVICE</h4>

          <p>Contact Us</p>
          <p>Delivery & Orders</p>
          <p>Returns & Exchanges</p>
          <p>Terms & Conditions</p>
          <p>Privacy Policy</p>
          <p>Track My Order</p>
          <p>Payment Guide</p>
      </div>

      <div class="footer-column3">
          <h4>COMPANY</h4>

          <p>About Us</p>
          <p>Careers</p>
          <p>Store locator</p>

      </div>

      <div class="footer-column4">
          <h4>FOLLOW US</h4>
          <div class="social-btns">

              <div class="s-container" style="display: flex;flex-direction:column;">
              <a class="btn whatsapp" href="/" target="_blank"><i class="fa fa-whatsapp"></i></a>

          </div>

              <a class="btn facebook" href="/" target="_blank"><i class="fa fa-facebook"></i></a>
              <a class="btn twitter" href="/" target="_blank"><i class="fa fa-twitter"></i></a>
              <a class="btn google" href="/" target="_blank"><i class="fa fa-youtube-play"></i></a>
              <a class="btn instagram" href="/" target="_blank"><i class="fa fa-instagram"></i></a>

            </div>

          <div class="social-btns">
              <a class="btn pinterest" href="/" target="_blank"><i class="fa fa-pinterest"></i></a>
              <a class="btn linkedin" href="/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>



      </div>


  </div>

</div>


