@import "./../../../../theme/variables";

.footerMainDiv {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100;
  // overflow: auto;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-left: 3px solid rgba(0, 0, 0, 0.4);

}

.menuDiv{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}


.SubMenuDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}

.IconSize{
  font-size: 35px;
  margin: 15% 0;

}

.SubMenuText{
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.GFeeds{
  border-bottom: 2px solid #E45720;
  color: #E45720;
}

