
<section>
    <div class="payment-main-div">
        <div class="left-div">
            <div class="img-div">
                <img class="img1" src="../../../assets/images/static/logo1 (1).png" alt="">
                <img class="img2" src="../../../assets/images/static/logo1 (5).png" alt="">
                <img class="img3" src="../../../assets/images/static/logo1 (2).png" alt="">
                <img class="img4" src="../../../assets/images/static/logo1 (8).png" alt="">
                <img class="img5" src="../../../assets/images/static/logo1 (7).png" alt="">
                <img class="img6" src="../../../assets/images/static/logo1 (3).png" alt="">
                <img class="img7" src="../../../assets/images/static/logo1 (4).png" alt="">
            </div>
        </div>
        <div class="mid-div">a</div>
        <div class="left-div">a</div>
    </div>
</section>
